
.full{
background-image:url(images/texture.jpg);}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.background{
background-image:url(images/software.jpg);height:800px;width:100%;}
.bottom{
background-image:url(images/bottom.png);height:400px;width:100%;}

.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.map{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
}
.inline{
	display:inline;
}
	